extends layout.pug

block content
  h1 Hello #{session.username}!

  if provisioned
    p Provisioned!
    p Your stream is located 
        a(href=`/channels/${session.username}`) here
    h2 Streaming Instructions
    p Please point OBS at rtmp://#{env.HOST_IP}:#{dockerConfig.rtmpPort}/live
    p And set your stream key to
    pre= config.StreamKey
    p Your IRC bridge is located at
    p #{env.IRC_DOMAIN} port #{dockerConfig.ircPort}

    p Admin Password
    p= config.AdminPassword

    form(method="POST" action="/deprovision")
      button(type='submit') Delete my channel

  else
    form(method="POST" action="/provision")
      button(type='submit') Create my channel
